[access]
	inheritFrom = GerritForge/gerrit-enterprise-projects
[submit]
[project]
	description = Module to split the projects' space into virtual hosts similarly to an HTTP server and different domain names.
[access "refs/*"]
	owner = group GerritForge-virtualhost
	label-Code-Review = -2..+2 group GerritForge-virtualhost
	label-Verified = -1..+1 group GerritForge-virtualhost
	rebase = group GerritForge-virtualhost
	submit = group GerritForge-virtualhost
	removeReviewer = group GerritForge-virtualhost
[access "refs/tags/*"]
	push = +force group user/Luca Milanesio (lucamilanesio)